<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/neostat.css" rel="stylesheet" />
        <title>Neostat</title>
    </head>
    <body>
        <table>
            <thead>
                <th>Id</th>
                <th>Timestamp (JST)</th>
                <th>Path</th>
                <th>Address</th>
                <th>Country</th>
                <th>UserAgent</th>
                <th>Languages</th>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.id }}</td>
                    <td>{{ log.created_at }}</td>
                    <td>{{ log.path }}</td>
                    <td>{{ log.x_forwarded }}</td>
                    <td>{{ log.country }}</td>
                    <td>{{ log.user_agent }}</td>
                    <td>{{ log.languages }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
